/*font face*/
@font-face {
	font-family: 'NanumSquareRoundL';
	src: url("../fonts/NanumSquareRoundL.ttf");
	font-weight: lighter;
}
@font-face {
	font-family: 'NanumSquareRoundR';
	src: url("../fonts/NanumSquareRoundR.ttf");
	font-weight: normal;
}
@font-face {
	font-family: 'NanumSquareRoundB';
	src: url("../fonts/NanumSquareRoundB.ttf");
	font-weight: bold;
}
@font-face {
	font-family: 'NanumSquareRoundEB';
	src: url("../fonts/NanumSquareRoundEB.ttf");
	font-weight: bolder;
}

/*setting*/
* {
	font-family: NanumSquareRoundR;
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*body*/
body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(135deg, #e9eaf1, #d5d7e4);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

#wrap {
	background: #fff;
	width: 90%;
	height: 90%;
	box-shadow: 0 0 30px #d5d5d5;
}

footer {position: absolute; bottom: 0; left: 0; width: 100%; line-height: 30px; font-size: 13px; color: #aaa; text-align: center;}
